<div class="container" ng-controller="TaskListCtrl">
	<div class="row">
		<div class="col-md-12">
			&nbsp;
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<form name="addTaskForm">
				<div class="input-group">
					<span class="input-group-addon clickable" ng-click="newTask(taskName)"><i class="fa fa-plus"></i></span>
					<input type="text" class="form-control" maxlength="42" ng-model="taskName" placeholder="Add new task..." ng-keypress="newTaskEnter($event, taskName)">
				</div>
			</form>
		</div>
	</div>
	<div class="row">
		&nbsp;
	</div>
	<div class="row">
		<div class="col-md-8">
			<div class="list-group">
				<div class="list-group-item sort-by">
					<span ng-click="loadTasksOrderByPriority()"  class="{{orderByPriorityClass}}">Priority</span>
					<span ng-click="loadTasksOrderByDueDate()" class="{{orderByDueDateClass}}">Due date</span>
				</div>
				<div class="list-group-item task-listing" ng-repeat="task in tasks">
					<i class="completed fa fa-check {{task.completedClass}}" ng-click="toggleCompleted(task)"></i>
					<i class="priority fa fa-exclamation-circle {{task.priorityClass}}" ng-click="togglePriority(task)"></i>
					<input type="text" maxlength="42" class="task-input" ng-model="task.displayName" ng-blur="editTaskName(task)" ng-keypress="editTaskNameKeyPress($event, task)"/>
					<div class="input-append date" datepicker ng-model="task.displayDueDate">
						<input type="text" class="date-input {{task.dueDateVisibleClass}}" ng-change="editDueDate(task)" ng-model="task.displayDueDate">
						<span class="add-on"><i class="fa fa-calendar {{task.calendarVisibleClass}}"></i></span>
					</div>
					<i class="fa fa-trash-o" ng-click=deleteTask(task)></i>
				</div>
			</div>
		</div>
	</div>
</div>