.entry {
	border-bottom: 1px solid rgba(0,0,0,0.05);
}

.clickable:hover {
	cursor: pointer;
}

.dropdown-clickable {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.428571429;
	color: #333;
	white-space: nowrap;
}

.dropdown-clickable:hover {
	cursor: pointer;
	background-color: #f5f5f5;
}

.sort-by {
	float: right;
}

.completed:hover {
	cursor: pointer;
}

.done {
	color: black;
}

.not-done {
	color: white;
}

.not-done:hover {
	color: rgba(51, 51, 51, 0.5);
}

.red {
	color: red;
}

.white {
	color: white;
}

.white:hover {
	color: rgba(51, 51, 51, 0.5);
}

.task-predefined {
	color: gray;
	font-style: italic;
}

.due_date {
	float: right;
	position: relative;
	right: 20px;
	cursor: pointer;
}

.priority {
	margin: 0 5px 0 10px;
}

.fa-trash-o {
	float: right;
	position: absolute;
	top: 13px;
	right: 15px;
	color: rgba(51, 51, 51, 0.5);
}

.fa-trash-o:hover {
	color: #333;
	cursor: pointer;
}

.priority:hover {
	cursor: pointer;
}

.fa-calendar {
	margin-right: 3px;
	margin-top: 3px;
	color: rgba(51, 51, 51, 0.5);
}

.fa-calendar:hover {
	color: #333;
}
